.basicInformationBar {
  padding: calc(2 * var(--jiumu-component-basic-padding)) var(--jiumu-component-initial-padding) calc(2 * var(--jiumu-component-basic-padding)) var(--jiumu-component-initial-padding);
  margin-bottom: calc(5 * var(--jiumu-component-secondary-margin));
}

.container {
  display: flex;
}

.personalAvatar {
  border-radius: calc(var(--jiumu-border-radius-medium) - 1px);
}

.informationBar {
  display: flex;
  flex-direction: column;
  margin-left: calc(4 * var(--jiumu-component-secondary-margin));
}

.informationGroup {
  display: flex;
  align-items: center;
}

.nickname {
  font-size: var(--jiumu-font-size-extra-large);
  font-weight: var(--jiumu-font-weight-primary);
  color: var(--jiumu-text-color-primary);
  transition: color var(--jiumu-transition-duration-fast);
  white-space: nowrap;
}

.experienceGroup {
  padding: var(--jiumu-component-regular-padding) var(--jiumu-component-initial-padding) var(--jiumu-component-regular-padding) var(--jiumu-component-initial-padding);
}
