.container {
  display: flex;
  flex-direction: column;
  padding-top: var(--jiumu-menu-base-level-padding);
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--jiumu-bg-color-overlay);
  border-radius: calc(var(--jiumu-border-radius-medium) - 1px);
  min-width: 300px;
}

.followCloselyGroup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: calc(3 * var(--jiumu-component-secondary-margin));
}

.followItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followTo {
  margin-right: 1.75rem;
}

.followFrom {
  margin-left: 1.75rem;
}

.dividerContainer {
  display: flex;
  align-items: center;
}

.divider {
  width: 3px;
  height: 2rem;
  border-radius: var(--jiumu-border-radius-base);
  background-color: var(--jiumu-fill-color-darker);
}

.operateGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.operateItem {
  padding: calc(2 * var(--jiumu-component-basic-padding) - 1px) var(--jiumu-component-initial-padding) calc(2 * var(--jiumu-component-basic-padding) - 1px) var(--jiumu-component-initial-padding);
  border-radius: calc(var(--jiumu-border-radius-medium) - 1px);
  font-size: var(--jiumu-font-size-medium);
  letter-spacing: var(--jiumu-text-letter-spacing-medium);
}

.signIn {
  border: 0;
  background: var(--jiumu-fill-color);
  color: var(--jiumu-color-success);
}

.editPersonalMaterials {
  margin-top: 1rem;
  background: var(--jiumu-fill-color);
  color: var(--jiumu-color-success);
}

@media (min-width: 768px) {
  .container {
    width: 300px;
  }
}
